twilio_account_sid  = "AC********************************"
twilio_auth_token   = "********************************"
twilio_workflow_sid = "WW********************************"# pas nécessaire si on ne touche pas au workflow studio
twilio_phone_sid    = "PN********************************"
twilio_twiml_sid    = "EH********************************"
twilio_number       = "+15157770123"
app_password        = "votre_mot_de_passe_secret"
project_name        = "twilio-transfer"
environment         = "prod"
phone_numbers       = [
                        "+14501234567",
                        "+14509876543",
                        "+14505555555",
                        "+14507777777"
                      ]
